280NPLIST;1.0;D;K;29;CPBundleInfoDictionaryVersiond;1;6K;19;CPBundlePackageTypeS;4;FMWKK;16;CPPrincipalClassS;7;MBStepsK;12;CPBundleNameS;7;MBStepsK;18;CPBundleIdentifierS;23;com.yourcompany.MBStepsK;15;CPBundleVersionS;3;1.0K;20;CPBundleEnvironmentsA;S;7;BrowserS;8;CommonJSE;K;18;CPBundleExecutableS;10;MBSteps.sjK;36;CPBundleEnvironmentsWithImageSpritesA;S;7;BrowserE;E;